[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
djangorestframework = "*"
boto3 = "*"
django-storages = "*"
pillow = "*"
python-decouple = "*"
gunicorn = "*"
dj-database-url = "*"
drf-spectacular = "*"
djangorestframework-simplejwt = "*"
google-auth = {extras = ["requests"], version = "*"}
dotenv = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.12"
